<table>
  <tr>
    <th>Measure ID</th>
    <th>Time Log</th>
    <th>Sensor Code</th>
    <th>Data Type</th>
    <th>Data</th>
  </tr>
    {{# each measures }}
      <tr class="item">
        <th>{{ this.measureID }}</th>
        <th>{{ this.timeLog }}</th>
        <th>{{ this.code }}</th>
        <th>{{ this.name }}</th>
        <th>{{ this.data }}</th>
      </tr>
    {{/each}}
</table>
<form action="/" method="get">
  <button class="home" type="submit">Home</button>
</form>
