<font size="4" style="color:#000045">
  <form action="/report" method="post">
    <div id="allSensors">
      <label>Choose the Sensor (code-room-shed):</label>
      <select name="sensor">
        {{#each sensors as |val key|}}
          <option value="{{val}}">{{val}}</option>
        {{/each}}
      </select>
    </div>
    <br></br>
    <br></br>
    <div id="initialDate">
      <label>Choose the Initial Date:</label>
      <input name="initialDate" type="text" class="datepicker">
      <br></br>
      <label>Choose the Initial Hour:</label>
      <select name="initialHour">
        {{#each hours as |val key|}}
          <option value="{{val}}">{{val}}</option>
        {{/each}}
      </select>
    </div>
    <br></br>
    <br></br>
    <div id="finalDate">
      <label>Choose the Final Date:</label>
      <input name="finalDate" type="text" class="datepicker">
      <br></br>
      <label>Choose the Final Hour:</label>
      <select name="finalHour">
        {{#each hours as |val key|}}
          <option value="{{val}}">{{val}}</option>
        {{/each}}
      </select>
    </div>
    <br></br>
    <button type="button" onClick="funSubmit()" >Submit</button>
  </form>
</font>
<form action="/" method="get">
  <button class="home" type="submit">Home</button>
</form>
<script>
  $( function() {
    $( ".datepicker" ).datepicker();
  } );
  function funSubmit(){
    if($("input[name='initialDate']").val() == ''){
      alert('Fill the initial date!');
      return;
    }
    else if($("input[name='finalDate']").val() == ''){
      alert('Fill the final date!');
      return;
    }
    //else if(){} //Check if initial date is before final date!!
    else{
      document.forms[0].submit();
    }
  }
</script>
