<div id="select-parameters" style="color:#000045"><font size="4">
  <form action="/dataRequested/submit" method="post">
    <div id="shed">
      <label>Shed</label>
      <select name="shed">
        {{#each sheds as |val key|}}
          <option value="{{val}}">Shed {{val}}</option>
        {{/each}}
      </select>
    </div>
    <br></br>
    <div id="room">
      <label>Room</label>
      <select name="room">
        {{#each rooms as |val key|}}
          <option value="{{val}}">Room {{val}}</option>
        {{/each}}
      </select>
    </div>
    <br></br>
    <div id="sensor">
      <label>Sensor</label>
      <select name="sensor">
        {{#each sensors as |val key|}}
          <option value="{{val}}">Sensor {{val}}</option>
        {{/each}}
      </select>
    </div>
    <br></br>
    <div id="data-type">
      <label>Data Type</label>
      <select name="dataType">
        {{#each dataTypes as |val key|}}
          <option value="{{val}}">{{val}}</option>
        {{/each}}
      </select>
    </div>
    <br></br>
    <button type="submit">Submit</button>
  </form>
</font></div>
