<font size="4">
  <form action="/monitoring" method="post">
    <h2>Monitoring Sensor with code - '{{sensor}}'</h2>
    <input type="hidden" name="sensor" value="{{sensor}}"></input>
    <input type="hidden" name="nMeasures" value="{{nMeasures}}"></input>
    <input type="hidden" name="maxValue" value="{{maxValue}}"></input>
    <input type="hidden" name="minValue" value="{{minValue}}"></input>
  </form>
  <canvas id="graph"></canvas>
  <form action="/configureMonitorSensor" method="get">
    <button type="submit">Back to Configure Monitor</button>
  </form>
</font>
<form action="/" method="get">
  <button class="home" type="submit">Home</button>
</form>
<script>
  setTimeout(function(){document.forms[0].submit();}, 5000);
  var graph;
  var xPadding = 30;
  var yPadding = 130;

  var data = [];
  var measures = [{{measures}}];
  var timeLogs = "{{timeLogs}}".split(',');
  var len = measures.length;
  for (var i = 0; i < len; i++) {
      data.push({
          X: (i+1),
          Y: measures[i]
      });
  }

  // Returns the max Y value in our data list
  function getMaxY() {
      max = 50;
      max += 10 - max % 10;
      return max;
  }

  // Returns the max X value in our data list
  function getMaxX() {
      var max = 0;
      for(var i = 0; i < data.length; i ++) {
          if(data[i].X > max) {
              max = data[i].X;
          }
      }
      max += 10 - max % 10;
      return max;
  }

  // Return the x pixel for a graph point
  function getXPixel(val) {
      return xPadding + (((graph.width - xPadding) / getMaxX()) * val);
  }

  // Return the y pixel for a graph point
  function getYPixel(val) {
      return graph.height  - yPadding - (((graph.height - yPadding) / getMaxY()) * val);
  }

  graph = document.getElementById("graph");
  var c = graph.getContext('2d');

  graph.width = 600;
  graph.height = 400;

  c.lineWidth = 2;
  c.strokeStyle = '#333';
  c.font = 'italic 8pt sans-serif';
  c.textAlign = "center";

  // Draw the axises
  c.beginPath();
  c.moveTo(xPadding, xPadding);
  c.lineTo(xPadding, graph.height - yPadding);
  c.lineTo(graph.width - xPadding/2, graph.height - yPadding);
  c.stroke();

  maxValue = {{maxValue}};
  minValue = {{minValue}};

  // Draw the maxValueLine
  var maxValuePx = (graph.height - yPadding)*(getMaxY()-maxValue)/getMaxY();
  c.beginPath();
  c.moveTo(xPadding, maxValuePx);
  c.lineTo(graph.width - xPadding/2, maxValuePx);
  c.setLineDash([5, 15]);
  c.strokeStyle = '#ff0000';
  c.stroke();

  // Draw the minValueLine
  var minValuePx = (graph.height - yPadding)*(getMaxY()-minValue)/getMaxY();
  c.beginPath();
  c.moveTo(xPadding, minValuePx);
  c.lineTo(graph.width - xPadding/2, minValuePx);
  c.stroke();
  c.setLineDash([]);;

  // Draw the X value texts
  for(var i = 0; i < data.length; i ++) {
  c.save();
  c.translate(getXPixel(data[i].X), (graph.height - yPadding + 20));
  c.rotate(Math.PI/2);
  c.textAlign = "left";
  c.fillText(timeLogs[i], 0, 0);
  c.restore();
  }

  // Draw the Y value texts
  c.textAlign = "right"
  c.textBaseline = "middle";

  for(var i = 0; i < getMaxY(); i += 10) {
      c.fillText(i, xPadding - 10, getYPixel(i));
  }

  c.strokeStyle = '#0000cf';

  // Draw the line graph
  c.beginPath();
  c.moveTo(getXPixel(data[0].X), getYPixel(data[0].Y));
  for(var i = 1; i < data.length; i ++) {
      c.lineTo(getXPixel(data[i].X), getYPixel(data[i].Y));
  }
  c.stroke();

  // Draw the dots
  c.fillStyle = '#333';

  for(var i = 0; i < data.length; i ++) {
      c.beginPath();
      c.arc(getXPixel(data[i].X), getYPixel(data[i].Y), 4, 0, Math.PI * 2, true);
      c.fill();
  }
</script>
